/* p{
color: cornflowerblue;
} */

main{
    display: grid;
    text-align: center;
    flex-direction: column;
}

h1{
    color: navy;
    justify-content: center;
}

#palmeiras{
    color:rgb(45, 63, 57)
}

.Caique{
    font-size: larger;
    background-color: rgb(46, 158, 255);
}

/* Seletores de Classe*/

.myhouse{
    border-style: ridge;

}

.boi{
    font-size: xx-large;
}