body{
    background-color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container {
    display: flex;
    flex-direction: row;
}

.honda{
    background-color: dodgerblue;
    padding: 3%;
}

.item-menu{
    padding: 1rem;
    margin: 5%;
}

.item-menu:hover{
    background-color: royalblue;
}

.conteudo{
    margin: 5%;
}

.mar{
    padding: auto;
    margin: auto;
}

